{% extends 'base.html.twig' %}

{% block body %}
    <div class="login-container">
        <div class="login-content">
            <div>
                <a href="{{ path('main_index') }}" class="btn btn-secondary float-start">
                    Accès au formulaire
                </a>

                <a href="{{ path('admin') }}" class="btn btn-primary float-end">
                    Admin
                </a>
            </div>

            <div class="w-100 text-center p-3">
                <h1>Liste de contacts</h1>
            </div>

            <div>
                <form method="get">
                    <div class="form-group row">
                        <label for="search" class="col-2 col-form-label">Recherche</label>
                        <div class="col-4">
                            <input type="text" class="form-control" id="search" name="search" value="{{ search }}">
                        </div>

                        <label for="status" class="col-2 col-form-label">Statut</label>
                        <div class="col-4">
                            <select class="form-control" id="status" name="status" onchange="this.form.submit()">
                                <option value="all" {% if currentStatus == 'all' %}selected{% endif %}>Tous</option>
                                <option value="new" {% if currentStatus == 'new' %}selected{% endif %}>Nouveau</option>
                                <option value="treated" {% if currentStatus == 'treated' %}selected{% endif %}>Traité</option>
                                <option value="archived" {% if currentStatus == 'archived' %}selected{% endif %}>Archivé</option>
                            </select>
                        </div>
                    </div>

                    <div class="mt-2">
                        <a href="{{ path('main_list') }}" class="btn btn-danger">
                            Réinitialiser
                        </a>
                        <button type="submit" class="btn btn-success">
